.main{
    /* background: url("/cofecupphoto.webp") no-repeat center top / cover;  */
    background-image:url("/cofecupphoto.webp") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding: 2.5rem 0;
} 

.heading{
    font-size: 24px;
    color: #4F2515;
    padding: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name{
   font-size: 20px;
    padding-bottom: 5px;
}

.email{
    font-size: 20px;
    padding-bottom: 5px;
}

.pasword{
    font-size: 20px;
    padding-bottom: 5px;
}

.register{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    margin: 3rem auto;
    max-width: 400px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0.5rem 4rem;
}

.input{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
   margin: 0 auto
}

.email input {
    background: transparent;
}

.inputtwo{
    padding: 4px;
}

.button{
    transition:all 1s;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 8px;
    margin-top: 2rem;
    border-radius: 8px;
    margin-left: 40%;
}

.button:hover{
    background-color: #E3B425;
    color: black;
}
