.Processdecoration{
    position: relative;
}

.cuptwo{
    margin-left: 70%;
}

.cofe{
    position: absolute;
    margin-top: -16rem;
    right: 80%;
}

.cup{
    position: absolute;
    margin-top: -65rem;
    right: 85%;
}

.cuper{
    position: absolute;
    margin-top: -95rem;
}