.Processpart2{
    position: relative;
    
}
  
.divtwo{
    top: 50%;
}
.cofebean{
    margin-left: 43%;
}

.texttwo{
    font-size: 20px;
    width: 18ch;
    margin-left: 45%;
  padding-top: 10%;
}

.rowtwo{
right: 40%;
}