.Processpart5{
    position: relative;
}

.cofecup{
    margin-left: 48%;
    margin-top: -12rem;
}

.textfour{
    position: absolute;
    font-size: 20px;
    margin-top: -12rem;
    margin-left: 30%;
    width: 18ch;
}

@media (max-width:360px)
{
    .cofecup{
        width: 5rem;
        height: 5rem ;
    }

    .textfour{
        font-size: 0.9rem;
    }
}

